@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url('../images/logo2.jpg');
    background-size: auto;
}

.description{
    margin-left: 622px;

}
.complete{
    margin-left: 555px;

}
